<h2><i>{{title}}</i></h2>
<mat-stepper [linear]="isLinear" #stepper>
  <form [formGroup]="forma" ngNativeValidate>
    <mat-step [stepControl]="firstFormGroup">
      <ng-template matStepLabel>Primary data</ng-template>
      <div>
        <mat-form-field appearance="outline">
          <mat-label>Bodovi:</mat-label>
          <input matInput formControlName="bodovi" name="bodovi" type="number" step="0,1" min="0" max="30" required>
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Napomena:</mat-label>
          <textarea matInput formControlName="napomena" name="napomena" required></textarea>
        </mat-form-field>
      </div>
      <div>
        <button mat-button matStepperNext>Next</button>
      </div>
    </mat-step>
    <mat-step [stepControl]="secondFormGroup" label="Secondary data">
      <mat-form-field appearance="fill">
        <mat-label>Evaluacija Znanja:</mat-label>
        <mat-select name="evaluacijaZnanja" formControlName="evaluacijaZnanja" [compareWith]="comparator" required>
          <mat-option *ngFor="let evaluacijaZnanja of evaluacijeZnanja" [value]="evaluacijaZnanja">
            {{evaluacijaZnanja.id}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Student na godini:</mat-label>
        <mat-select name="studentNaGodini" formControlName="studentNaGodini" [compareWith]="comparator2" required>
          <mat-option *ngFor="let studentNaGodini of studentiNaGodini" [value]="studentNaGodini">
            {{studentNaGodini.brojIndeksa}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext>Next</button>
      </div>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Done</ng-template>
      <p>You are now done.</p>
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button (click)="stepper.reset()">Reset</button>
        <button mat-raised-button color="primary" (click)="create()">Dodaj</button>
      </div>
    </mat-step>
  </form>
</mat-stepper>