<h2><i>{{title}}</i></h2>
<mat-stepper [linear]="isLinear" #stepper>
  <form [formGroup]="forma" ngNativeValidate>
    <mat-step [stepControl]="firstFormGroup">
      <ng-template matStepLabel>Primary data</ng-template>
      <mat-form-field appearance="outline">
        <mat-label>Korisnicko ime:</mat-label>
        <input matInput formControlName="korisnickoIme" name="korisnickoIme" type="text" required>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Lozinka:</mat-label>
        <input matInput formControlName="lozinka" name="lozinka" type="password" required>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>E mail:</mat-label>
        <input matInput formControlName="email" name="email" type="email" required>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Ime:</mat-label>
        <input matInput formControlName="ime" name="ime" type="text" required>
      </mat-form-field>
      <div>
        <button mat-button matStepperNext>Next</button>
      </div>
    </mat-step>
    <mat-step [stepControl]="secondFormGroup" label="Secondary data">
      <mat-form-field appearance="fill">
        <mat-label>Biografija:</mat-label>
        <textarea matInput formControlName="biografija" name="biografija" type="text" required></textarea>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>JMBG:</mat-label>
        <input matInput formControlName="jmbg" name="jmbg" type="text" required>
      </mat-form-field>
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext>Next</button>
      </div>
    </mat-step>
    <mat-step [stepControl]="trecaFormGroup" label="Tertiary data">
      <mat-form-field appearance="fill">
        <mat-label>Adresa:</mat-label>
        <mat-select name="adresa" formControlName="adresa" [compareWith]="comparator1" required>
          <mat-option *ngFor="let adresa of adrese" [value]="adresa">
            {{adresa.ulica}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Zvanje:</mat-label>
        <mat-select name="zvanje" formControlName="zvanje" [compareWith]="comparator2" required>
          <mat-option *ngFor="let zvanje of zvanja" [value]="zvanje">
            {{zvanje.id}},{{zvanje.datumIzbora}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext>Next</button>
      </div>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Done</ng-template>
      <p>You are now done.</p>
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button (click)="stepper.reset()">Reset</button>
        <button mat-raised-button color="primary" (click)="create()">Dodaj</button>
      </div>
    </mat-step>
  </form>
</mat-stepper>