<div>
    <h2>{{title}}</h2>

    <mat-tab-group>
        <mat-tab label="Table Realizacija predmeta">
            <app-tabela-realizacije-predmeta [elementi]="realizacijePredmeta" (uklanjanje)="delete($event)"
                (izmena)="setUpdate($event)"></app-tabela-realizacije-predmeta>

            <app-forma-realizacije-predmeta *ngIf="prikaz" [realizacijaPredmeta]="itemUpdate"
                (createEvent)="update($event)"></app-forma-realizacije-predmeta>
        </mat-tab>
        <mat-tab label="Add Realizacija predmeta" *ngIf="loginService.loggedIn">
            <app-forma-realizacije-predmeta (createEvent)="create($event)"></app-forma-realizacije-predmeta>
        </mat-tab>
    </mat-tab-group>
</div>