<h1>{{title}}</h1>
<table mat-table [dataSource]="elementi" class="mat-elevation-z8">

  <!--- Note that these columns can be defined in any order.
        The actual rendered columns are set as a property on the row definition" -->
  <!-- Id Column -->
  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef> ID </th>
    <td mat-cell *matCellDef="let element">
      <button mat-stroked-button  (click)="prikaziDetalje(element)">{{element["id"]}}</button>
    </td>
  </ng-container>

  <!-- Ulica Column -->
  <ng-container matColumnDef="ulica">
    <th mat-header-cell *matHeaderCellDef> Ulica </th>
    <td mat-cell *matCellDef="let element"> {{element.ulica}} </td>
  </ng-container>

  <!-- Broj Column -->
  <ng-container matColumnDef="broj">
    <th mat-header-cell *matHeaderCellDef> Broj </th>
    <td mat-cell *matCellDef="let element"> {{element.broj}} </td>
  </ng-container>

  <!-- Mesto Column -->
  <ng-container matColumnDef="mesto">
    <th mat-header-cell *matHeaderCellDef> Mesto </th>
    <td mat-cell *matCellDef="let element"><span *ngIf="element['mesto']">{{element["mesto"]["naziv"]}}</span></td>
  </ng-container>

  <ng-container matColumnDef="akcije">
    <th mat-header-cell *matHeaderCellDef> Akcija </th>
    <td mat-cell *matCellDef="let element"> {{element.akcije}}
      <button mat-icon-button color="warn" (click)="ukloni(element['id'])"><mat-icon>delete</mat-icon></button>
          <button mat-icon-button (click)="izmeni(element)"><mat-icon>edit</mat-icon></button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
