.meni {
    display:block;
    justify-content: space-around;
    background-color: rgb(211, 211, 243);

}
button{
    margin-left: 40px;
    color:rgb(72, 72, 228);
}

#desno{
    margin-left: 80%;
}
#desno2{
    margin-left: 90%;
}
