<h1>{{title}}</h1>
<table mat-table class="mat-elevation-z20">
    <thead>
      <tr>
        <th>ID</th>
        <th>Broj casova</th>
        <th>Nastavnik</th>
        <th>Tip nastave</th>
        <th>Akcije</th>
      </tr>
    </thead>
    <tbody>                        
                                    <!-- Kod boje teksta mozemo i naznaciti boju za godinu Upisa npr ="'blue'" -->
      <tr *ngFor="let e of elementi">
        <td><button  mat-stroked-button  (click)="prikaziDetalje(e)">{{e["id"]}}</button></td>
        <td><span *ngIf="e['brojCasova']; else praznoPolje">{{e["brojCasova"]}}</span></td>
        <td><span *ngIf="e['nastavnik']">{{e["nastavnik"]["ime"]}}</span></td>
        <td><span *ngIf="e['tipNastave']">{{e["tipNastave"]["naziv"]}}</span></td>
        <td>
          <button mat-stroked-button color="warn" (click)="ukloni(e['id'])">Ukloni</button>
          <button  mat-stroked-button  (click)="izmeni(e)">Izmeni</button>
        </td>
  
      </tr>
    </tbody>
  </table>
  
  <ng-template #praznoPolje>-</ng-template>