form, h2{
    margin-left: 10%;
    padding: 30px;
    color: rgb(47, 74, 148);
}
div{
  margin-left: 20px;
  padding: 30px;
}
.mat-stepper-horizontal {
    margin-top: 8px;
    width: 80%;
  }
  
  .mat-form-field {
    margin-top: 16px;
    padding: 10px;
  }