<h1>{{title}}</h1>
<table>
    <thead>
      <tr>
        <th>ID</th>
        <th>Naziv</th>
        <th>Datum vreme osnivanja</th>
        <th>Adresa</th>
        <th>Nastavnik</th>
        <th>Akcije</th>
      </tr>
    </thead>
    <tbody>                        
      <tr *ngFor="let e of elementi">
        <td><button (click)="prikaziDetalje(e)">{{e["id"]}}</button></td>
        <td><span *ngIf="e['naziv']; else praznoPolje">{{e["naziv"]}}</span></td>
        <td>{{e["datumVremeOsnivanja"]}}</td>
        <td><span *ngIf="e['adresa']">{{e["adresa"]["ulica"]}}</span></td>
        <td><span *ngIf="e['nastavnik']">{{e["nastavnik"]["ime"]}}</span></td>
        <td>
          <button (click)="ukloni(e['id'])">Ukloni</button>
          <button (click)="izmeni(e)">Izmeni</button>
        </td>
  
      </tr>
    </tbody>
  </table>
  
  <ng-template #praznoPolje>-</ng-template>