<h2><i>{{title}}</i></h2>
<form  (ngSubmit)="create()" [formGroup]="forma" ngNativeValidate>
    <div>
      <mat-form-field appearance="fill">
        <mat-label>Godina:</mat-label>
          <input matInput formControlName="godina"  name="godina" type="date"  required>
      </mat-form-field>
    </div>
    <div>
        <mat-form-field appearance="fill">
          <mat-label>Predmet: </mat-label>
          <mat-select name="predmet" formControlName="predmet" [compareWith]="comparator" required>
            <mat-option *ngFor="let predmet of predmeti"  [value]="predmet"> 
              {{predmet.naziv}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div>
        <button mat-raised-button color="primary" type="submit">Dodaj</button>
    </div>
</form>