<div>
    <h2>{{title}}</h2>
    <mat-tab-group>
        <mat-tab label="Table Nastavnici">
            <button mat-mini-fab color="link"   (click)="open()"> <mat-icon>search</mat-icon> Pretrazi Nastavnike </button>
            <app-pretraga-nastavnika *ngIf="prikazPretrage" (pretraga)="search($event)"></app-pretraga-nastavnika>
            
            <!-- <button (click)="export()" mat-icon-button color="warn" ><mat-icon>picture_as_pdf</mat-icon>Export To PDF</button> -->
            <app-tabela-nastavnika [elementi]="nastavnici" (uklanjanje)="delete($event)" (izmena)="setUpdate($event)">
            </app-tabela-nastavnika>

            <app-forma-nastavnika *ngIf="prikaz" [nastavnik]="nastavnikUpdate" (createEvent)="update($event)">
            </app-forma-nastavnika>
        </mat-tab>
        <mat-tab label="Add Nastavnik">
            <app-forma-nastavnika (createEvent)="create($event)"></app-forma-nastavnika>
        </mat-tab>
    </mat-tab-group>
</div>