<div>
    <h2>{{title}}</h2>

    <mat-tab-group>
        <mat-tab label="Table Drzava">
            <app-tabela-drzave [elementi]="drzave" (uklanjanje)="delete($event)" (izmena)="setUpdate($event)">
            </app-tabela-drzave>

            <app-forma-drzave *ngIf="prikaz" [drzava]="drzavaUpdate" (createEvent)="update($event)"></app-forma-drzave>
        </mat-tab>
        <mat-tab label="Add Dzava">
            <app-forma-drzave (createEvent)="create($event)"></app-forma-drzave>
        </mat-tab>
    </mat-tab-group>
</div>