<div>
   <h2>{{title}}</h2>

   <mat-tab-group>
      <mat-tab label="Table Mesta">
         <app-tabela-mesta [elementi]="mesta" (uklanjanje)="delete($event)" (izmena)="setUpdate($event)">
         </app-tabela-mesta>

         <app-forma-mesta *ngIf="prikaz" [mesto]="mestoUpdate" (createEvent)="update($event)"></app-forma-mesta>
      </mat-tab>
      <mat-tab label="Add Mesto" *ngIf="loginService.loggedIn">
         <app-forma-mesta (createEvent)="create($event)"></app-forma-mesta>
      </mat-tab>
   </mat-tab-group>
</div>