<h2>{{title}}</h2>
<form  (ngSubmit)="create()" [formGroup]="forma" ngNativeValidate>
    <div>
      <mat-form-field appearance="fill">
        <mat-label>Naziv:</mat-label>
            <input matInput formControlName="naziv"  name="naziv" type="text" required>
        </mat-form-field>
    </div>
    <div>
        <mat-form-field appearance="fill">
          <mat-label>Drzava: </mat-label>
          <mat-select name="drzava" formControlName="drzava" [compareWith]="comparator" required>
            <mat-option *ngFor="let drzava of drzave"  [value]="drzava"> 
              {{drzava.naziv}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div>
        <button mat-raised-button color="primary" type="submit">Dodaj</button>
    </div>
</form>