<h2>{{title}}</h2>
<form  (ngSubmit)="create()" [formGroup]="forma" ngNativeValidate>
    <div>
      <label>Naziv: <input formControlName="naziv"  name="naziv" type="text" required></label>
    </div>
    <div>
        <label>Drzava:
          <select name="drzava" formControlName="drzava" [compareWith]="comparator"  required>
            <option *ngFor="let drzava of drzave"  [ngValue]="drzava">
              {{drzava.naziv}}
            </option>
          </select>
        </label>
      </div>
      <div>
        <button type="submit">Dodaj</button>
    </div>
</form>