<h2>{{title}}</h2>

<mat-tab-group>
<mat-tab label="Table Nastavnik na realizaciji">
<app-tabela-nastavnika-na-realizaciji [elementi]="nastavnici" (uklanjanje)="delete($event)" 
(izmena)="setUpdate($event)"></app-tabela-nastavnika-na-realizaciji>

<app-forma-nastavnika-na-realizaciji [nastavnikNaRealizaciji]="itemUpdate" (createEvent)="update($event)"></app-forma-nastavnika-na-realizaciji>
</mat-tab>
<mat-tab label="Add Nastavnik na realizaciji">
    <app-forma-nastavnika-na-realizaciji (createEvent)="create($event)"></app-forma-nastavnika-na-realizaciji>
</mat-tab>
</mat-tab-group>