<mat-list>
    <mat-list-item>ID: {{zvanje["id"]}}</mat-list-item>
    <mat-list-item>Datum Izbora: {{zvanje["datumIzbora"]}}</mat-list-item>
    <mat-list-item>Datum prestanka: {{zvanje["datumPrestanka"]}}</mat-list-item>
    <mat-list-item>Naucna oblast: <span *ngIf="zvanje['naucnaOblast']">{{zvanje["naucnaOblast"]["naziv"]}}</span></mat-list-item>
    <mat-list-item>Tip zvanja: <span *ngIf="zvanje['tipZvanja']">{{zvanje["tipZvanja"]["naziv"]}}</span></mat-list-item>
</mat-list>
<button mat-raised-button color="primary" (click)="back()">Nazad</button>