<mat-tab-group preserveContent>
  <mat-tab label="Main page">
    <div class="container portfolio-card">

      <div class="portfolio-section portfolio-heading mat-typography" fxLayout="column" fxLayoutAlign="center center">
        <div>
          <h2>Dobrodošli na našu novu web stranicu!</h2>
        </div>
        <div>
          <h3>Kroz naših 200 godina postojanja uvek smo težili inovacijama i modernizaciji svega što radimo, a upravo se
            te karakteristike objedinjuju u našoj novoj Web stranici. .</h3>
        </div>
      </div>

      <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutWrap="nowrap" fxLayoutGap="30px" fxLayoutGap.sm="8px">
        <div fxFlex="33.33">
          <mat-card class="p-0 m-0">
            <div class="row">
              <div class="cell">
                <img mat-card-image src="assets/img/singi1.jpg">
              </div>
              <div class="cell">
                <img mat-card-image src="assets/img/ucionica.JPG">
              </div>
              <div class="cell">
                <img mat-card-image src="assets/img/diplome.jpg">
              </div>
            </div>
            <mat-card-content>
              <h5 class="mat-headline">Univerzitet u Novom Sadu</h5>
              <p class="mat-subheading-2">
                Univerzitet Singidunum u okviru svog Centra u Novom Sadu pruža mogućnost studiranja na osnovnim
                akademskim studijama na četiri studijska programa: Poslovna ekonomija, Turizam i hotelijerstvo,
                Informacione tehnologije i Softversko i informaciono inženjerstvo.
              </p>
              <mat-divider class="mb-1"></mat-divider>
              <a href="https://eng.singidunum.ac.rs" target="_blank" class="portfolio-button" mat-icon-button>
                <mat-icon class="text-muted">link1</mat-icon>
                See more details
              </a>
            </mat-card-content>
          </mat-card>
        </div>

      </div>
    </div>
  </mat-tab>
  <mat-tab label="Contact">

    <mat-chip-list aria-label="Fish selection">
      <mat-chip color="primary" selected>
        Adresa
      </mat-chip>

      <mat-chip color="accent" selected>
        Telefon
      </mat-chip>

      <mat-chip color="warn" selected>
        Email
      </mat-chip>

      <mat-chip>Radno vreme </mat-chip>
    </mat-chip-list>
    <br><br><br>

    <h3>Osnovni podaci</h3>

    <mat-chip-list class="mat-chip-list-stacked" aria-label="Fish selection">

      <mat-chip color="primary" selected>
        <mat-icon> location_on</mat-icon> ul. Danijelova 32, prizemlje, 11000 Beograd
      </mat-chip>

      <mat-chip color="accent" selected>
        <mat-icon> contact_phone</mat-icon> 011/3094 094
      </mat-chip>

      <mat-chip color="warn" selected>
        <mat-icon> contact_mail</mat-icon> studije@singidunum.ac.rs
      </mat-chip>
      <br>
      <mat-chip>
        <mat-icon>access_time</mat-icon>pon.-pet.: od 8.00 do 18.00 časova
      </mat-chip>
      <mat-chip>
        <mat-icon>access_time</mat-icon>sub.: od 9.00 do 14.00 časova
      </mat-chip>
    </mat-chip-list>
  </mat-tab>
  <mat-tab label="Video of University">
    <div style="margin:50px">
      <iframe frameborder="0" scrolling="no" marginheight="0" marginwidth="0"width="788.54" height="443" type="text/html" 
      src="https://www.youtube.com/embed/KZceV6Cio7Y?autoplay=0&fs=0&iv_load_policy=3&showinfo=0&rel=0&cc_load_policy=0&start=0&end=0&origin=https://youtubeembedcode.com">
      </iframe>
    </div>
  </mat-tab>
</mat-tab-group>