<h2><i>{{title}}</i></h2>
<form  (ngSubmit)="create()" [formGroup]="forma" ngNativeValidate>
    <div>
      <mat-form-field appearance="outline">
        <mat-label>Ulica:</mat-label>
            <input matInput formControlName="ulica"  name="ulica" type="text" required>
        </mat-form-field>
    </div>
    <div>
      <mat-form-field appearance="outline">
      <mat-label>Broj:</mat-label>
          <input matInput formControlName="broj"  name="broj" type="text" required>
      </mat-form-field>
    </div>
    <div>
        <mat-form-field appearance="outline">
          <mat-label>Mesto:</mat-label>
          <mat-select name="mesto" formControlName="mesto" [compareWith]="comparator" required>
            <mat-option *ngFor="let mesto of mesta"  [value]="mesto"> 
              {{mesto.naziv}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div>
        <button mat-raised-button color="primary" type="submit">Dodaj</button>
    </div>
</form>