<h2>{{title}}</h2>
<form  (ngSubmit)="create()" [formGroup]="forma" ngNativeValidate>
    <div>
      <mat-form-field appearance="fill">
        <mat-label>Naziv: </mat-label>
        <input matInput formControlName="naziv" name="naziv" type="text" required>
      </mat-form-field>
    </div>
    <div>
      <mat-form-field appearance="fill">
        <mat-label>Fakultet:</mat-label>
        <mat-select name="fakultet" formControlName="fakultet" [compareWith]="comparator1" required>
          <mat-option *ngFor="let fakultet of fakulteti"  [value]="fakultet"> 
            {{fakultet.naziv}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      </div>
      <div>
        <mat-form-field appearance="fill">
          <mat-label>Nastavnik:</mat-label>
          <mat-select name="nastavnik" formControlName="nastavnik" [compareWith]="comparator2" required>
            <mat-option *ngFor="let nastavnik of nastavnici"  [value]="nastavnik"> 
              {{nastavnik.ime}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div>
        <mat-form-field appearance="fill">
          <mat-label>Godina studija:</mat-label>
          <mat-select name="godinaStudija" formControlName="godinaStudija" [compareWith]="comparator3" required>
            <mat-option *ngFor="let godinaStudija of godineStudija"  [value]="godinaStudija"> 
              {{godinaStudija.godina}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div>
        <button mat-raised-button color="primary" type="submit">Dodaj</button>
    </div>
</form>