<h2><i>{{title}}</i></h2>
<mat-stepper [linear]="isLinear" #stepper>
  <form [formGroup]="forma" ngNativeValidate>
    <mat-step [stepControl]="firstFormGroup">
      <ng-template matStepLabel>Primary data</ng-template>
      <mat-form-field appearance="fill">
        <mat-label>Naziv: </mat-label>
        <input matInput formControlName="naziv" name="naziv" type="text" required>
      </mat-form-field>
      <div>
        <button mat-button matStepperNext>Next</button>
      </div>
    </mat-step>
    <mat-step [stepControl]="secondFormGroup" label="Secondary data">
      <mat-form-field appearance="fill">
        <mat-label>Fakultet:</mat-label>
        <mat-select name="fakultet" formControlName="fakultet" [compareWith]="comparator1" required>
          <mat-option *ngFor="let fakultet of fakulteti" [value]="fakultet">
            {{fakultet.naziv}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Nastavnik:</mat-label>
        <mat-select name="nastavnik" formControlName="nastavnik" [compareWith]="comparator2" required>
          <mat-option *ngFor="let nastavnik of nastavnici" [value]="nastavnik">
            {{nastavnik.email}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Godina studija:</mat-label>
        <mat-select name="godinaStudija" formControlName="godinaStudija" [compareWith]="comparator3" required>
          <mat-option *ngFor="let godinaStudija of godineStudija" [value]="godinaStudija">
            {{godinaStudija.godina}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext>Next</button>
      </div>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Done</ng-template>
      <p>You are now done.</p>
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button (click)="stepper.reset()">Reset</button>
        <button mat-raised-button color="primary" (click)="create()">Dodaj</button>
      </div>
    </mat-step>
  </form>
</mat-stepper>