<mat-list>
    <mat-list-item>ID: {{student["id"]}}</mat-list-item>
    <mat-list-item>E-mail: {{student["email"]}}</mat-list-item>
    <mat-list-item>JMBG: {{student["jmbg"]}}</mat-list-item>
    <mat-list-item>Ime: {{student["ime"]}}</mat-list-item>
    <mat-list-item>Adresa: <span *ngIf="student['adresa']">{{student["adresa"]["ulica"]}}</span></mat-list-item>
    <mat-list-item>Student na godini: <span *ngIf="student['studentNaGodini']">{{student["studentNaGodini"]["brojIndeksa"]}}</span></mat-list-item>
</mat-list>
<button mat-raised-button color="primary" (click)="back()">Nazad</button>