<section id="about" class="mat-typography" ngStyle.lt-md="{'margin-top': '50px', 'margin-bottom': '50px'}">
    <div class="container">

        <div class="about-section about-heading" fxLayout="column" fxLayoutAlign="center center">
          <div>
          <h2 ngStyle.lt-md="{'margin-bottom': '15px'}">Aplikacija Project LMS 2022</h2>
          </div>
          <div>
          <h3 ngStyle.xs="{'font-size': '18px'}" ngStyle.sm="{'font-size': '22px'}">A university is an institution of higher education and research which awards academic degrees in several academic disciplines. Universities typically offer both undergraduate and postgraduate programs.</h3>
          </div>
      </div>

      <div fxLayout="row" fxLayout.lt-md="column" fxLayoutWrap="nowrap" fxLayoutGap="30px">
          <div fxFlex="25">
                <div fxLayout="column" fxLayoutAlign="center center" ngStyle.xs="{'padding': '0 60px'}">
                  <div>
                    <i angStyle.lt-md="{'font-size': '48px'}" class="material-icons">build</i>
                  </div>
                  <span fxFlex="30px"></span>
                  <h2 class="about-text">Proširenje Univerziteta</h2>
                  <span fxFlex="10px"></span>
                  <p class="about-text">Zgrada biroa Herzog i de Meuron imaće oblik gomile naslaganih diskova koji se smanjuju u veličini, neravnomerno usklađeni kako bi stvorili prepuste i terase. Unutra, zgrada će biti organizovana kao „auditorijum ili koncertna dvorana“, kažu arhitekte, sa povezanim terasama koje se pojavljuju od prizemlja do viših nivoa.</p>
                </div>
            </div>


            <div fxFlex="25">
                <div fxLayout="column" fxLayoutAlign="center center" ngStyle.xs="{'padding': '0 60px'}">
                  <div>
                    <i ngStyle.lt-md="{'font-size': '48px'}" class="material-icons">stars</i>
                  </div>
                  <span fxFlex="30px"></span>
                  <h2 class="about-text">Dodatno o studijama Univerziteta</h2>
                  <span fxFlex="10px"></span>

                  <p class="about-text">Univerzitetski nastavni planovi i programi usklađeni su sa principima Bolonjske deklaracije i uključuju Evropski sistem prenosa bodova (ECTS). Svi naši studijski programi su osmišljeni tako da zadovolje potrebe savremenog poslovnog okruženja, a predavanja u visokokvalitetnim savremenim prostorijama održava preko 300 eminentnih profesora iz zemlje i inostranstva. Univerzitet uspešno sarađuje sa uglednim visokoškolskim ustanovama iz SAD i Evrope, kao i sa vodećim predstavnicima srpske poslovne zajednice.</p>
                </div>
            </div>

            <div fxFlex="25">
                <div fxLayout="column" fxLayoutAlign="center center" ngStyle.xs="{'padding': '0 60px'}">
                  <div>
                    <i ngStyle.lt-md="{'font-size': '48px'}" class="material-icons">settings</i>
                  </div>
                  <span fxFlex="30px"></span>
                  <h2 class="about-text">Nastavno osoblje</h2>
                  <span fxFlex="10px"></span>

                  <p class="about-text">
                    Full professor
                    
                     
                    
                    Stanišić Milovan, president
                    Pap Endre, emeritus
                    Stanišić Nemanja, vice-president
                    Knežević Goranka, acting-rector
                    Cvetković Dragan, vice-rector for teaching
                    Bačanin Džakula Nebojša, vice-rector for science
                    Stanišić Svetlana, Head of the Department of Postgraduate Studies
                    Čerović Slobodan, acting-dean FTHM
                    Nemec Predrag, acting-dean FFKMS
                    Veinović Mladen, dean FIR
                    Barjaktarović Lidija, dean PFB
                    Radojević Tijana, Accreditation process coordinator
                    Adamović Saša
                    Amidžić Lidija
                    Cekić Zoran
                    Četojević Simin Dragana
                    Dikić Nenad
                    Dražić Gordana
                    Filipović Sanja
                    Hadžić Miroljub
                    Janićijević Hudomal Snežana
                    Jevremović Aleksandar
                    Krnjajić Milovan
                    Marković Velisav
                    Micić Ružica
                    Milosavljević Milan
                    Milovanović Jelena
                    Njeguš Angelina
                    Perišić Branko
                    Petrović Zoran
                    Pešaković Gordana
                    Popov-Raljić Jovanka
                    Radoja Saša
                    Rosić Mirko
                    Reković Vladimir
                    Spalević Petar
                    Stojanović Biljana
                    Spasić Slađana
                    Stojmenović Miloš
                    Šarac Marko
                    Tomašević Violeta
                    Tuba Milan
                    Veličković Dragiša
                    Veličković Saša
                    Vučetić Miljan
                    Živković Dejan
                    Životić Dragan
                    
                    Associate professor
                    
                     
                    
                    Tanasković Marko, dean TF
                    Jovancai Stakić Ana, Coordinator of
                      International Study Programs
                      and International Cooperation
                    Alčaković Slavko, vice-dean FFKMS
                    Marjanović Marina, vice-dean TF
                    Mizdraković Vule, vice-dean FTHM
                    Brdar Ivana, vice-dean PFB
                    Dragićević Nina, Head of the Study Program Pharmacy
                    Popović Miroslav, vice-dean ŽSOR
                    Radovanović Dalibor, vice-dean FIR
                    Anđelković Marija
                    Avlijaš Goran
                    Babić Lepa
                    Bogavac Dragana
                    Ćuk Ivan
                    Dobrijević Gordana
                    Damnjanović Ivana
                    Dražeta Lazar
                    Suzana Đorđević Milošević
                    Gadžić Aleksandar
                    Gajić Jelena
                    Jeremić Nevena
                    Jović Zoran
                    Kilibarda Nataša
                    Knežević Miroslav
                    Terzić Ivica
                    Milojević Marko
                    Marković Vladan
                    McIntyre Jelena
                    Nemec Vesna
                    Nikić Gordana
                    Obradović Dorđe
                    Petković Sofija
                    Prodanović Marijana
                    Rapaić Stevan
                    Spalević Žaklina
                    Stanković Miloš
                    Stanišić Mile
                    Stakić Nikola
                    Stefanović Nikola
                    Stanojević-Ristić Zorica
                    Trunić Nenad
                    Vranić Valentino
                    Vićentijević Kosana
                    Vukadinović Predrag
                    Zlokolica Vladimir
                    Živković Miodrag.</p>
                </div>     
            </div>
      </div>
    </div>
</section>
