<h2><i>{{title}}</i></h2>
<mat-stepper [linear]="isLinear" #stepper>
  <form [formGroup]="forma" ngNativeValidate>
    <mat-step [stepControl]="firstFormGroup">
      <ng-template matStepLabel>Time data</ng-template>
      <mat-form-field appearance="outline">
        <mat-label>Vreme Pocetka:</mat-label>
        <input matInput formControlName="vremePocetka" name="vremePocetka" [matDatepicker]="picker" required>
        <mat-hint>MM/DD/YYYY</mat-hint>
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Vreme Zavrsetka:</mat-label>
        <input matInput formControlName="vremeZavrsetka" name="vremeZavrsetka" [matDatepicker]="picker2" required>
        <mat-hint>MM/DD/YYYY</mat-hint>
        <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
        <mat-datepicker #picker2></mat-datepicker>
      </mat-form-field>
      <div>
        <button mat-button matStepperNext>Next</button>
      </div>
    </mat-step>
    <mat-step [stepControl]="secondFormGroup" label="Secondary data">
      <mat-form-field appearance="fill">
        <mat-label>Ishod:</mat-label>
        <mat-select name="ishod" formControlName="ishod" [compareWith]="comparator" required>
          <mat-option *ngFor="let ishod of ishodi" [value]="ishod">
            {{ishod.opis}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Tip Evaluacije:</mat-label>
        <mat-select name="tipEvaluacije" formControlName="tipEvaluacije" [compareWith]="comparator2" required>
          <mat-option *ngFor="let tipEvaluacije of tipoviEvaluacije" [value]="tipEvaluacije">
            {{tipEvaluacije.naziv}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext>Next</button>
      </div>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Done</ng-template>
      <p>You are now done.</p>
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button (click)="stepper.reset()">Reset</button>
        <button mat-raised-button color="primary" (click)="create()">Dodaj</button>
      </div>
    </mat-step>
  </form>
</mat-stepper>