<h2>{{title}}</h2>
<form  (ngSubmit)="create()" [formGroup]="forma" ngNativeValidate>
    <div>
      <mat-form-field appearance="fill">
        <mat-label>Datum izbora: </mat-label>
          <input matInput formControlName="datumIzbora"  name="datumIzbora" type="date" required>
      </mat-form-field>
    </div>
    <div>
      <mat-form-field appearance="fill">
        <mat-label>Datum prestanka:</mat-label>
          <input matInput formControlName="datumPrestanka"  name="datumPrestanka" type="date" required>
      </mat-form-field>
    </div>
    <div>
      <mat-form-field appearance="fill">
        <mat-label>Naucna oblast:</mat-label>
        <mat-select name="naucnaOblast" formControlName="naucnaOblast" [compareWith]="comparator1" required>
          <mat-option *ngFor="let naucnaOblast of naucneOblasti"  [value]="naucnaOblast"> 
            {{naucnaOblast.naziv}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      </div>
      <div>
        <mat-form-field appearance="fill">
          <mat-label>Tip zvanja:</mat-label>
          <mat-select name="tipZvanja" formControlName="tipZvanja" [compareWith]="comparator2" required>
            <mat-option *ngFor="let tipZvanja of tipoviZvanja"  [value]="tipZvanja"> 
              {{tipZvanja.naziv}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div>
        <button mat-raised-button color="primary"  type="submit">Dodaj</button>
    </div>
</form>