<h2>{{title}}</h2>
<form  (ngSubmit)="create()" [formGroup]="forma" ngNativeValidate>
    <div>
      <label>Datum izbora: <input formControlName="datumIzbora"  name="datumIzbora" type="date" required></label>
    </div>
    <div>
      <label>Datum prestanka: <input  formControlName="datumPrestanka"  name="datumPrestanka" type="date" required></label>
    </div>
    <div>
        <label>Naucna oblast:
          <select name="naucnaOblast" formControlName="naucnaOblast" [compareWith]="comparator1"  required>
            <option *ngFor="let naucnaOblast of naucneOblasti"  [ngValue]="naucnaOblast">
              {{naucnaOblast.naziv}}
            </option>
          </select>
        </label>
      </div>
      <div>
        <label>Tip zvanja:
          <select name="tipZvanja" formControlName="tipZvanja" [compareWith]="comparator2"  required>
            <option *ngFor="let tipZvanja of tipoviZvanja"  [ngValue]="tipZvanja">
              {{tipZvanja.naziv}}
            </option>
          </select>
        </label>
      </div>

      <div>
        <button type="submit">Dodaj</button>
    </div>
</form>