<h1>{{title}}</h1>

<div cdkDropListGroup>
<table mat-table class="mat-elevation-z20">
    <thead>
      <tr>
        <th>ID</th>
        <th>Naziv</th>
        <th>Nastavnik na realizaciji</th>
        <th>Predmet</th>
        <th>Akcije</th>
      </tr>
    </thead>
    <tbody [cdkDropListData]="elementi" cdkDropList (cdkDropListDropped)="drop($event)">                        
      <tr cdkDrag *ngFor="let e of elementi">
        <td><button mat-stroked-button  (click)="prikaziDetalje(e)">{{e["id"]}}</button></td>
        <td>{{e["naziv"]}}</td>
        <td><span *ngIf="e['nastavnikNaRealizaciji']">{{e["nastavnikNaRealizaciji"]["id"]}}</span></td>
        <td><span *ngIf="e['predmet']">{{e["predmet"]["naziv"]}}</span></td>
        <td>
          <button mat-icon-button color="warn" (click)="ukloni(e['id'])"><mat-icon>delete</mat-icon></button>
          <button mat-icon-button (click)="izmeni(e)"><mat-icon>edit</mat-icon></button>
        </td>
  
      </tr>
    </tbody>
  </table>
  <ng-template #praznoPolje>-</ng-template>
  <br>
                                                 <!-- dragAndDrop table-->
  <table mat-table class="mat-elevation-z20">
    <thead>
      <tr>
        <th>ID</th>
        <th>Naziv</th>
        <th>Nastavnik na realizaciji</th>
        <th>Predmet</th>
      </tr>
    </thead>
    <tbody [cdkDropListData]="dropped" cdkDropList (cdkDropListDropped)="drop($event)">                        
      <tr cdkDrag *ngFor="let e of dropped">
        <td>{{e["id"]}}</td>
        <td>{{e["naziv"]}}</td>
        <td><span *ngIf="e['nastavnikNaRealizaciji']">{{e["nastavnikNaRealizaciji"]["id"]}}</span></td>
        <td><span *ngIf="e['predmet']">{{e["predmet"]["naziv"]}}</span></td>  
      </tr>
    </tbody>
  </table>

</div>