<h2><i>{{title}}</i></h2>
<form  (ngSubmit)="create()" [formGroup]="forma" ngNativeValidate>
    <div>
      <mat-form-field appearance="fill">
        <mat-label>Vreme pocetka:</mat-label>
            <input matInput formControlName="vremePocetka"  name="vremePocetka" type="date" required>
        </mat-form-field>
    </div>
    <div>
      <mat-form-field appearance="fill">
      <mat-label>Vreme kraja:</mat-label>
          <input matInput formControlName="vremeKraja"  name="vremeKraja" type="text" required>
      </mat-form-field>
    </div>
    <div>
        <mat-form-field appearance="fill">
          <mat-label>Ishod Nastave:</mat-label>
          <mat-select name="ishodNastave" formControlName="ishodNastave" [compareWith]="comparator" required>
            <mat-option *ngFor="let ishodNastave of ishodiNastave"  [value]="ishodNastave"> 
              {{ishodNastave.opis}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div>
        <mat-form-field appearance="fill">
          <mat-label>Tip Nastave:</mat-label>
          <mat-select name="tipNastave" formControlName="tipNastave" [compareWith]="comparator2" required>
            <mat-option *ngFor="let tipNastave of tipoviNastave"  [value]="tipNastave"> 
              {{tipNastave.naziv}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div>
        <button mat-raised-button color="primary" type="submit">Dodaj</button>
    </div>
</form>