<h1>{{title}}</h1>
<table>
    <thead>
      <tr>
        <th>ID</th>
        <th>Datum upisa</th>
        <th>Broj indeksa</th>
        <th>Godina studija</th>
        <th>Akcije</th>
      </tr>
    </thead>
    <tbody>                        
                                    <!-- Kod boje teksta mozemo i naznaciti boju za godinu Upisa npr ="'blue'" -->
      <tr *ngFor="let e of elementi">
        <td><button (click)="prikaziDetalje(e)">{{e["id"]}}</button></td>
        <td><span *ngIf="e['datumUpisa']; else praznoPolje">{{e["datumUpisa"]}}</span></td>
        <td>{{e["brojIndeksa"]}}</td>
        <td><span *ngIf="e['godinaStudija']">{{e["godinaStudija"]["godina"]}}</span></td>
        <td>
          <button (click)="ukloni(e['id'])">Ukloni</button>
          <button (click)="izmeni(e)">Izmeni</button>
        </td>
  
      </tr>
    </tbody>
  </table>
  
  <ng-template #praznoPolje>-</ng-template>