<h2><i>{{title}}</i></h2>
<mat-stepper [linear]="isLinear" #stepper>
  <form [formGroup]="forma" ngNativeValidate>
    <mat-step [stepControl]="firstFormGroup">
      <ng-template matStepLabel>Primary data</ng-template>
      <mat-form-field appearance="outline">
        <mat-label>Autor:</mat-label>
        <input matInput formControlName="autor" name="autor" type="text" required>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Godina Izdavanja:</mat-label>
        <input matInput formControlName="godinaIzdavanja" name="godinaIzdavanja" [matDatepicker]="picker" required>
        <mat-hint>MM/DD/YYYY</mat-hint>
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Naziv:</mat-label>
        <input matInput formControlName="naziv" name="naziv" type="text" required>
      </mat-form-field>
      <div>
        <button mat-button matStepperNext>Next</button>
      </div>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Done</ng-template>
      <p>You are now done.</p>
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button (click)="stepper.reset()">Reset</button>
        <button mat-raised-button color="primary" (click)="create()">Dodaj</button>
      </div>
    </mat-step>
  </form>
</mat-stepper>