<mat-list>
    <mat-list-item>ID: {{nastavnik["id"]}}</mat-list-item>
    <mat-list-item>Ime: {{nastavnik["ime"]}}</mat-list-item>
    <mat-list-item>Biografija: {{nastavnik["biografija"]}}</mat-list-item>
    <mat-list-item>JMBG: {{nastavnik["jmbg"]}}</mat-list-item>
    <mat-list-item>Adresa: <span *ngIf="nastavnik['adresa']">{{nastavnik["adresa"]["ulica"]}}</span></mat-list-item>
    <mat-list-item>Zvanje: <span *ngIf="nastavnik['zvanje']">{{nastavnik["zvanje"]["datumIzbora"]}}</span></mat-list-item>
</mat-list>
<button mat-raised-button color="primary" (click)="back()">Nazad</button>