<p>Ulogovan: {{loginService.validateRoles(['ROLE_USER', 'ROLE_ADMIN'])}}</p>

<h2>{{title}}</h2>
<form (ngSubmit)="login()" [formGroup]="loginForma" ngNativeValidate>
    <div>
      <mat-form-field appearance="fill">
        <mat-label> <mat-icon>account_circle</mat-icon>Username</mat-label>
        <input matInput name="username" formControlName="username" type="text" required>
      </mat-form-field>
    </div>
    <div>
      <mat-form-field appearance="fill">
        <mat-label><mat-icon>lock</mat-icon>Password</mat-label>
        <input matInput name="password" formControlName="password" type="password" required>
      </mat-form-field>
    </div>
    <div>
      <button type="submit" mat-raised-button color="primary"><mat-icon>done_all</mat-icon>Login</button>
      <button *ngIf="loginService.user" (click)="loginService.logout()"  mat-raised-button color="warn"><mat-icon>exit_to_app</mat-icon>Logout</button>
    </div>
    <p *ngIf="loginFailed"><mat-icon>error</mat-icon>Login failed!</p>
    <p *ngIf="loginService.loggedOut"><mat-icon>warning</mat-icon>Successfully logged out!</p>
  </form>