<div>
    <h2>{{title}}</h2>

    <mat-tab-group>
        <mat-tab label="Table Studijski prigrami">
            <app-tabela-studijskih-programa [elementi]="studijskiProgrami" (uklanjanje)="delete($event)"
                (izmena)="setUpdate($event)"></app-tabela-studijskih-programa>

            <app-forma-studijskih-programa *ngIf="prikaz" [studijskiProgram]="itemUpdate"
                (createEvent)="update($event)"></app-forma-studijskih-programa>
        </mat-tab>
        <mat-tab label="Add Studijski program" *ngIf="loginService.loggedIn">
            <app-forma-studijskih-programa (createEvent)="create($event)"></app-forma-studijskih-programa>
        </mat-tab>
    </mat-tab-group>
</div>