<h2><i>{{title}}</i></h2>
<mat-stepper [linear]="isLinear" #stepper>
  <form [formGroup]="forma" ngNativeValidate>
    <mat-step [stepControl]="firstFormGroup">
      <ng-template matStepLabel>Primary data</ng-template>
      <mat-form-field appearance="fill">
        <mat-label>Konacna ocena:</mat-label>
        <input matInput formControlName="konacnaOcena" name="konacnaOcena" type="number" min="5" max="10" required>
      </mat-form-field>
      <div>
        <button mat-button matStepperNext>Next</button>
      </div>
    </mat-step>
    <mat-step [stepControl]="secondFormGroup" label="Secondary data">
      <mat-form-field appearance="fill">
        <mat-label>Realizacija predmeta:</mat-label>
        <mat-select name="realizacijaPredmeta" formControlName="realizacijaPredmeta" [compareWith]="comparator"
          required>
          <mat-option *ngFor="let realizacijaPredmeta of realizacijePredmeta" [value]="realizacijaPredmeta">
            {{realizacijaPredmeta.naziv}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Student:</mat-label>
        <mat-select name="student" formControlName="student" [compareWith]="comparator2" required>
          <mat-option *ngFor="let student of studenti" [value]="student">
            {{student.email}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext>Next</button>
      </div>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Done</ng-template>
      <p>You are now done.</p>
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button (click)="stepper.reset()">Reset</button>
        <button mat-raised-button color="primary" (click)="create()">Dodaj</button>
      </div>
    </mat-step>
  </form>
</mat-stepper>