<h2>{{title}}</h2>
<form  (ngSubmit)="create()" [formGroup]="forma" ngNativeValidate>
    <div>
      <mat-form-field appearance="fill">
        <mat-label>Konacna ocena:</mat-label>
            <input matInput formControlName="konacnaOcena"  name="konacnaOcena" type="number" min="5" max="10"  required>
        </mat-form-field>
    </div>
    <div>
        <mat-form-field appearance="fill">
          <mat-label>Realizacija predmeta:</mat-label>
          <mat-select name="realizacijaPredmeta" formControlName="realizacijaPredmeta" [compareWith]="comparator" required>
            <mat-option *ngFor="let realizacijaPredmeta of realizacijePredmeta"  [value]="realizacijaPredmeta"> 
              {{realizacijaPredmeta.naziv}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div>
        <button  mat-raised-button color="primary" type="submit">Dodaj</button>
    </div>
</form>