<h1>{{title}}</h1>
<table mat-table class="mat-elevation-z20">
    <thead>
      <tr>
        <th>ID</th>
        <th>Username</th>
        <th>Password</th>
        <th>Akcije</th>
      </tr>
    </thead>
    <tbody>                        
      <tr *ngFor="let e of elementi">
        <td><button mat-stroked-button (click)="prikaziDetalje(e)">{{e["id"]}}</button></td>
        <td>{{e["username"]}}</td>
        <td>{{e["password"]}}</td>
        <td>
          <button mat-icon-button color="warn" (click)="ukloni(e['id'])"><mat-icon>delete</mat-icon></button>
          <button mat-icon-button (click)="izmeni(e)"><mat-icon>edit</mat-icon></button>
        </td>
  
      </tr>
    </tbody>
  </table>
  
  <ng-template #praznoPolje>-</ng-template>