<h2>{{title}}</h2>
<form (submit)="pretrazi()" [formGroup]="parametri"  ngNativeValidate>
    <div>
      <mat-form-field appearance="standard">
        <mat-label>Ime:</mat-label>
            <input matInput formControlName="ime"  name="ime" type="text">
        </mat-form-field>
    </div>
    <div>
      <mat-form-field appearance="standard">
        <mat-label>JMBG:</mat-label>
            <input matInput formControlName="jmbg"  name="jmbg" type="text" >
        </mat-form-field>
    </div>
  <div>
    <button mat-raised-button type="submit">Pretrazi </button>
  </div>
</form>