<h2>{{title}}</h2>
<form  (ngSubmit)="create()" [formGroup]="forma" ngNativeValidate>
  <div>
    <mat-form-field appearance="fill">
      <mat-label>E-mail: </mat-label>
      <input matInput name="email" formControlName="email" type="email" required>
    </mat-form-field>
  </div>
    <div>
      <mat-form-field appearance="fill">
        <mat-label>JMBG: </mat-label>
        <input matInput name="jmbg" formControlName="jmbg" type="text" required>
      </mat-form-field>
    </div>
    <div>
      <mat-form-field appearance="fill">
        <mat-label>Ime: </mat-label>
        <input matInput name="ime" formControlName="ime" type="text" required>
      </mat-form-field>
    </div>

    <div>
      <mat-form-field appearance="fill">
        <mat-label>Adresa:</mat-label>
        <mat-select name="adresa" formControlName="adresa" [compareWith]="comparator1" required>
          <mat-option *ngFor="let adresa of adrese"  [value]="adresa"> 
            {{adresa.ulica}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      </div>
      <div>
        <mat-form-field appearance="fill">
          <mat-label>Student na godini:</mat-label>
          <mat-select name="studentNaGodini" formControlName="studentNaGodini" [compareWith]="comparator3" required>
            <mat-option *ngFor="let studentNaGodini of studentiNaGodini"  [value]="studentNaGodini"> 
              {{studentNaGodini.brojIndeksa}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div>
        <button mat-raised-button color="primary" type="submit">Dodaj</button>
    </div>
</form>