<div>
   <h2>{{title}}</h2>

   <mat-tab-group>
      <mat-tab label="Table Pohadjanje predmeta">
         <app-tabela-pohadjanja-predmeta [elementi]="pohadjanjaPredmeta" (uklanjanje)="delete($event)"
            (izmena)="setUpdate($event)"></app-tabela-pohadjanja-predmeta>

         <app-forma-pohadjanja-predmeta *ngIf="prikaz" [pohadjanjePredmeta]="itemUpdate" (createEvent)="update($event)">
         </app-forma-pohadjanja-predmeta>
      </mat-tab>
      <mat-tab label="Add Pohadjanje predmeta" *ngIf="loginService.loggedIn">
         <app-forma-pohadjanja-predmeta (createEvent)="create($event)"></app-forma-pohadjanja-predmeta>
      </mat-tab>
   </mat-tab-group>

</div>