<h1>{{title}}</h1>
<table>
    <thead>
      <tr>
        <th>ID</th>
        <th>Datum izbora</th>
        <th>Datum prestanka</th>
        <th>Naucna oblast</th>
        <th>Tip zvanja</th>
        <th>Akcije</th>
      </tr>
    </thead>
    <tbody>                        
                                    <!-- Kod boje teksta mozemo i naznaciti boju za godinu Upisa npr ="'blue'" -->
      <tr *ngFor="let e of elementi">
        <td><button (click)="prikaziDetalje(e)">{{e["id"]}}</button></td>
        <td><span *ngIf="e['datumIzbora']; else praznoPolje">{{e["datumIzbora"]}}</span></td>
        <td>{{e["datumPrestanka"]}}</td>
        <td><span *ngIf="e['naucnaOblast']">{{e["naucnaOblast"]["naziv"]}}</span></td>
        <td><span *ngIf="e['tipZvanja']">{{e["tipZvanja"]["naziv"]}}</span></td>
        <td>
          <button (click)="ukloni(e['id'])">Ukloni</button>
          <button (click)="izmeni(e)">Izmeni</button>
        </td>
  
      </tr>
    </tbody>
  </table>
  
  <ng-template #praznoPolje>-</ng-template>