<h1>{{title}}</h1>
<div cdkDropListGroup>
<table mat-table class="mat-elevation-z20">
    <thead>
      <tr>
        <th>ID</th>
        <th>Konacna ocena</th>
        <th>Realizacija predmeta</th>
        <th>Akcije</th>
      </tr>
    </thead>
    <tbody [cdkDropListData]="elementi" cdkDropList (cdkDropListDropped)="drop($event)">                        
      <tr cdkDrag *ngFor="let e of elementi">
        <td><button mat-stroked-button  (click)="prikaziDetalje(e)">{{e["id"]}}</button></td>
        <td><span *ngIf="e['konacnaOcena']; else praznoPolje">{{e["konacnaOcena"]}}</span></td>
        <td><span *ngIf="e['realizacijaPredmeta']">{{e["realizacijaPredmeta"]["naziv"]}}</span></td>
        <td>
          <button mat-icon-button color="warn" (click)="ukloni(e['id'])"><mat-icon>delete</mat-icon></button>
          <button mat-icon-button (click)="izmeni(e)"><mat-icon>edit</mat-icon></button>
        </td>
  
      </tr>
    </tbody>
  </table>
  <ng-template #praznoPolje>-</ng-template>
<br>
                                                 <!-- dragAndDrop table-->

<table mat-table class="mat-elevation-z20">
  <thead>
    <tr>
      <th>ID</th>
      <th>Konacna ocena</th>
      <th>Realizacija predmeta</th>
      <th>Akcije</th>
    </tr>
  </thead>
  <tbody [cdkDropListData]="dropped" cdkDropList (cdkDropListDropped)="drop($event)">                        
    <tr cdkDrag *ngFor="let e of dropped">
      <td>{{e["id"]}}</td>
      <td>{{e["konacnaOcena"]}}</td>
      <td><span *ngIf="e['realizacijaPredmeta']">{{e["realizacijaPredmeta"]["naziv"]}}</span></td>
    </tr>
  </tbody>
</table>

</div>