<h2>{{title}}</h2>
<form  (ngSubmit)="create()" [formGroup]="forma" ngNativeValidate>
    <div>
      <label>Naziv: <input formControlName="naziv"  name="naziv" type="text" required></label>
    </div>

    <div>
        <label>Nastavnik na realizaciji ID:
          <select name="nastavnikNaRealizaciji" formControlName="nastavnikNaRealizaciji" [compareWith]="comparator1"  required>
            <option *ngFor="let nastavnikNaRealizaciji of nastavniciNaRealizaciji"  [ngValue]="nastavnikNaRealizaciji">
              {{nastavnikNaRealizaciji.id}}
            </option>
          </select>
        </label>
      </div>
      <div>
        <label>Predmet:
          <select name="predmet" formControlName="predmet" [compareWith]="comparator2"  required>
            <option *ngFor="let predmet of predmeti"  [ngValue]="predmet">
              {{predmet.naziv}}
            </option>
          </select>
        </label>
      </div>
      <div>
        <button type="submit">Dodaj</button>
    </div>
</form>