.portfolio-row{
	margin-top: 20px;
}

.portfolio-button{
	margin-top: 10px;
}

.portfolio-section{
  text-align: center;
}

.portfolio-heading{
  padding-bottom: 30px;
}

.portfolio-heading h2{
  font-size: 32px;
  font-style: italic;
}

.portfolio-heading h3{
  font-size: 22px;
}
img{
    margin-left: 20px;
    width: 90%;
    height:30%;
}
.mat-headline{
  text-align: center;
  font-family: 'Times New Roman', Times, serif;
}
#podela{
  display:grid;
}
.row {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;

  -webkit-box-align: center;
  -moz-box-align: center;
  box-align: center;  
  align-items: center;

}
.cell {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  box-flex: 1;
  -webkit-flex: 1 1 auto;
  flex: 1 1 auto; 

  text-align: center;

}