<ul>
    <li>ID: {{predmet["id"]}}</li>
    <li>Naziv: {{predmet["naziv"]}}</li>
    <li>ESPB: {{predmet["espb"]}}</li>
    <li>Obavezan: {{predmet["obavezan"]}}</li>
    <li>Broj predavanja: {{predmet["brojPredavanja"]}}</li>
    <li>Broj vezbi: {{predmet["brojVezbi"]}}</li>
    <li>Drugi oblici nastave: {{predmet["drugiObliciNastave"]}}</li>
    <li>Istrazivacki rad: {{predmet["istrazivackiRad"]}}</li>
    <li>Ostali casovi: {{predmet["ostaliCasovi"]}}</li>
</ul>
<button (click)="back()">Nazad</button>