<h2><i>{{title}}</i></h2>
<form  (ngSubmit)="create()" [formGroup]="forma" ngNativeValidate>
    <div>
      <mat-form-field appearance="fill">
        <mat-label>Naziv: </mat-label>
        <input matInput formControlName="naziv" name="naziv" type="text" required>
      </mat-form-field>
    </div>
    <div>
      <mat-form-field appearance="fill">
        <mat-label>Datum vreme osnivanja: </mat-label>
        <input matInput formControlName="datumVremeOsnivanja" name="datumVremeOsnivanja" type="date" required>
      </mat-form-field>
    </div>
    <div>
      <mat-form-field appearance="fill">
        <mat-label>Adresa:</mat-label>
        <mat-select name="adresa" formControlName="adresa" [compareWith]="comparator1" required>
          <mat-option *ngFor="let adresa of adrese"  [value]="adresa"> 
            {{adresa.ulica}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      </div>
      <div>
        <mat-form-field appearance="fill">
          <mat-label>Nastavnik:</mat-label>
          <mat-select name="nastavnik" formControlName="nastavnik" [compareWith]="comparator2" required>
            <mat-option *ngFor="let nastavnik of nastavnici"  [value]="nastavnik"> 
              {{nastavnik.email}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div>
        <button mat-raised-button color="primary"  type="submit">Dodaj</button>
    </div>
</form>