<h2>{{title}}</h2>
<form  (ngSubmit)="create()" [formGroup]="forma" ngNativeValidate>
    <div>
      <label>Naziv: <input formControlName="naziv"  name="naziv" type="text" required></label>
    </div>
    <div>
      <label>Datum vreme osnivanja: <input  formControlName="datumVremeOsnivanja"  name="datumVremeOsnivanja" type="date" required></label>
    </div>
    <div>
        <label>Adresa:
          <select name="adresa" formControlName="adresa" [compareWith]="comparator1"  required>
            <option *ngFor="let adresa of adrese"  [ngValue]="adresa">
              {{adresa.ulica}}
            </option>
          </select>
        </label>
      </div>
      <div>
        <label>Nastavnik:
          <select name="nastavnik" formControlName="nastavnik" [compareWith]="comparator2"  required>
            <option *ngFor="let nastavnik of nastavnici"  [ngValue]="nastavnik">
              {{nastavnik.ime}}
            </option>
          </select>
        </label>
      </div>
      <div>
        <button type="submit">Dodaj</button>
    </div>
</form>