<div>
    <h2>{{title}}</h2>

    <mat-tab-group>
        <mat-tab label="Table Student">
            <button mat-stroked-button   (click)="open()"> <mat-icon>search</mat-icon> Pretrazi Studente </button>
            <app-pretraga-studenta *ngIf="prikazPretrage" (pretraga)="search($event)"></app-pretraga-studenta>

            <app-tabela-studenta [elementi]="studenti" (uklanjanje)="delete($event)" (izmena)="setUpdate($event)">
            </app-tabela-studenta>

            <app-forma-studenta *ngIf="prikaz" [student]="studentUpdate" (createEvent)="update($event)">
            </app-forma-studenta>
        </mat-tab>
        <mat-tab label="Add Student">
            <app-forma-studenta (createEvent)="create($event)"></app-forma-studenta>
        </mat-tab>
    </mat-tab-group>
</div>